/* body{
    background: white;
    box-sizing: border-box;
    /* margin: 5rem 20rem; 
    padding: 0;
} */
.ticket{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
   
}